* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #000;
  height: 100vh;
  overflow: hidden;
}

.heart {
  background-image: url(https://cdn4.iconfinder.com/data/icons/twitter-29/512/166_Heart_Love_Like_Twitter-512.png);
  background-size: cover;
  pointer-events: none;
  position: absolute;
  translate: -50% -50%;
  animation-name: heartLeave;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes heartLeave {
  0% {
    transform: translateY(0);
    opacity: 1;
    filter: hue-rotate(0);
  }

  100% {
    transform: translateY(-1000%);
    opacity: 0;
    filter: hue-rotate(720deg);
  }
}