/* VARIABLES */
:root {
  --random-color: '';
}

/* BASE STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--random-color);
}

/* MAIN STYLES */
.container {
  width: 40rem;
  padding: 2rem;
  margin: 0 2rem;
  background-color: #fff;
}

.quote-text {
  font-family: 'Marck Script', cursive;
  font-size: 2.4rem;
  line-height: 1.15;
  color: #333;
}

.quote-author {
  text-align: right;
  color: #888;
  margin: 1.2rem 0;
}

.btn {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  padding: .5em 1em;
  border: none;
  color: #fff;
  background-color: var(--random-color);
  cursor: pointer;
}

.btn:focus-visible {
  outline: 0.2rem solid rgba(0, 0, 0, 0.2);
}