* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  background: linear-gradient(to bottom right, rgb(3, 125, 255), rgb(3, 3, 255));
  display: flex;
  justify-content: center;
  align-items: center;
}

*:focus-visible {
  outline: .4rem solid rgba(3, 125, 255, 0.4);
}

.container {
  width: 60rem;
  background-color: #fff;
  padding: 4rem;
  border-radius: .8rem;
}

.heading {
  font-size: 3.2rem;
  text-transform: uppercase;
  color: #333;
}

.age {
  font-size: 2.4rem;
  color: #333;
  margin: .4em 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.dob-label {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: .6em;
}

.input-box {
  display: flex;
  justify-content: space-between;
}

.input {
  font-size: 1.4rem;
  width: 30%;
  padding: .6em;
  border: .2em solid #333;
  border-radius: .4em;
  background-color: rgba(3, 125, 255, 0.2);
}

.btn {
  border: none;
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: .6em 0;
  margin-top: 1.2em;
  cursor: pointer;
  transition: background-color .3s;
  border-radius: .4em;
}

.btn:hover {
  background-color: #444;
}

/* MEDIA QUERIES */
@media (max-width: 37.5em) {
  .container {
    width: 100%;
    border-radius: 0;
  }

  .input-box {
    flex-direction: column;
    gap: 1rem;
  }

  .input {
    width: 100%;
  }
}

@media (max-width: 25em) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 2.8rem;
  }
}
