* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

*:focus-visible {
  outline: .4rem solid rgba(3, 125, 255, 0.4);
}

/* MAIN STYLES */
.calculator {
  background-color: #ff5a5f;
  color: #3c3c3c;
  border-radius: .5em;
  box-shadow: 0 .8rem 1.6rem rgba(0, 0, 0, 0.15);
}

.display {
  font-size: 2.4rem;
  background-color: #F5F5F5;
  height: 2em;
  padding: .25em;
  margin: .375em .375em 0;
  border-radius: .25em;
  box-shadow: inset 0 0 0 .4rem rgba(0, 0, 0, .2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
}

.btn {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #F5F5F5;
  color: inherit;
  width: 3.2rem;
  height: 3.2rem;
  padding: 1em;
  border: none;
  border-radius: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 .6rem 1.2rem rgba(0, 0, 0, 0.15);
  transition: scale .3s, box-shadow .3s;
}

.btn:hover {
  scale: 1.2;
  box-shadow: 0 .6rem 1.2rem .2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  scale: 1;
}