* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  background-color: #121622;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 1.6rem;
  color: #3b7fec;
  padding: 1.2rem 3rem;
  background-color: transparent;
  border: 2px solid currentColor;
  border-radius: 0;
  cursor: pointer;
  transition: all .3s;
}

.btn:hover,
.btn:focus-visible {
  color: #00c3ff;
  translate: 0 -.4rem;
  box-shadow: 0 .6rem .6rem -.4rem currentColor;
}

.btn:focus-visible {
  outline: none;
}