* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
}

*:focus-visible {
  outline: 0.2rem solid rgba(75, 143, 140, 0.4);
}

.header {
  background-color: #4B8F8C;
  color: #fff;
  padding: 1em 2em;
}

.container {
  width: 60%;
  margin: 0 auto;
  padding: 2em;
}

.form {
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.search-input {
  font-family: inherit;
  font-size: 1.2rem;
  flex: 1;
  border: .1em solid #bbb;
  padding: .6em 2rem;
  color: #888;
}

.search-btn {
  font-family: inherit;
  font-size: 1.2rem;
  background-color: #4B8F8C;
  border: .1em solid #4B8F8C;
  color: #fff;
  padding: .6em 1.2em;
  cursor: pointer;
  transition: background-color .3s;
}

.search-btn:hover {
  background-color: #407a78;
}

.recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe {
  width: 60rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.75em 0;
}

.recipe:first-of-type {
  padding-top: 0;
}

.recipe:not(:last-of-type) {
  border-bottom: .1em solid #eee;
}

.recipe-image-box {
  overflow: hidden;
  border-radius: 50%;
  border: .2em solid #4B8F8C;
  width: 8rem;
  height: 8rem;
}

.recipe-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.recipe-content {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.recipe-title {
  color: #4B8F8C;
  font-weight: 600;
  margin-bottom: .2em;
}

.recipe-publisher {
  font-size: 1.2rem;
  color: #888;
}

.recipe-link:link,
.recipe-link:visited {
  display: inline-block;
  margin-left: auto;
  text-decoration: none;
  font-size: 1.2rem;
  background-color: #4B8F8C;
  color: #fff;
  padding: .6em 1.2em;
  transition: background-color .3s;
}

.recipe-link:hover,
.recipe-link:active {
  background-color: #407a78;
}

.error {
  text-align: center;
  color: #fc4141;
}

/* MEDIA QUERIES */

/* 600px */
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 56.25%;
  }

  .container {
    width: 100%;
  }

  .recipe {
    width: 100%;
  }

  .recipe-content {
    width: 40%;
  }
}