* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
}

*:focus-visible {
  outline: .2rem solid rgba(3, 125, 255, 0.4);
}

/* UTILITY CLASSES */
.error {
  display: block !important;
  text-align: center;
  color: red;
}

/* MAIN STYLES */
.header {
  background-color: #5f4bb6;
  color: #fff;
  padding: 1em 2em;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.form {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.search-input {
  font-family: inherit;
  font-size: 1.2rem;
  flex: 1;
  border: .1em solid #bbb;
  padding: .6em 2rem;
  color: #888;
}

.btn-search {
  font-family: inherit;
  font-size: 1.2rem;
  background-color: #5f4bb6;
  border: .1em solid #5f4bb6;
  color: #fff;
  padding: .6em 1.2em;
  cursor: pointer;
  transition: background-color .3s;
}

.btn-search:hover {
  background-color: #4c3b9b;
}

.image-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}

.image-result {
  background-color: #a38eff;
  border-radius: .6rem;
  overflow: hidden;
  height: 20rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
  transition: scale .3s;
}

.image:hover {
  scale: 1.2;
}

/* MEDIA QUERIES */
/* 600px */
@media only screen and (max-width: 37.5em) {
  .image-results {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 400px */
@media only screen and (max-width: 25em) {
  .image-results {
    grid-template-columns: 1fr;
  }
}