/* VARIABLES */
:root {
  --image-height: 30rem;
}

/* BASE STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #342E37 40%, #3C91E6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

*:focus-visible {
  outline: .4rem solid rgba(3, 125, 255, 0.4);
}

/* UTILITY CLASSES */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, var(--image-height));
  gap: 4rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, var(--image-height));
  gap: 3rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, var(--image-height));
  gap: 2rem;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, var(--image-height));
  gap: 2rem;
}

/* MAIN STYLES */
.header,
.container {
  width: 80%;
  padding: 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-primary {
  font-size: 8rem;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #FAFFFD;
}

.grid-options {
  text-align: center;
  background-color: #342E37;
  color: #FAFFFD;
  font-size: 3.2rem;
  width: 16rem;
  border: .125em solid #FAFFFD;
  border-radius: 10em;
  padding: .5em 0;
  cursor: pointer;
}

.gallery {
  justify-content: center;
}

.image-box {
  height: var(--image-height);
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}